body {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0px auto;
    padding: 0px;
    background-color: #bdb5b5;
    text-align: center;
    height: 20px;
}

.a {
    text-decoration: none;
    color: #707070;
}
.icon-tw {
    display: block;
    text-align: right;
}
.container {
    display: flex;
    height: 800px;
    font-family: Arial, Helvetica, sans-serif;
}
.data {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    font-size: 13px;
    color: #eeeeee;
    text-transform: uppercase;
}
.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 0px;
    color: #eeeeee;
}
.text {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #eeeeee;
    margin-bottom: 150px;
  
}
.read {
    font-family: 'Times New Roman', Times, serif;
    color: #eeeeee;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: auto;
    
}
.div {
    padding: 15px;
    width: 200px;
}
.art1 {
background-color:  #0082c8 ;
}
.art2 {
background-color:#73616f ;
}
.art3 {
background-color:  #e8856c;
}
.art4 {
background-color: #16528e;
}
.art5 {
background-color: #e54b4b;
}
.art6 {
background-color:#a2c5bf ;
}