*{
    box-sizing: border-box;
   
    
}
.left{
    padding-top: 12em;
    padding-right: 2em;
    background: #444444;
    color: #ffffff;
    text-align: right;
    margin:  auto;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    font-family: sans-serif;
    float: left;
    height: 45em
}
.right{
    float: right;
    width: 75%;
    margin: auto;
    padding-left: 3em;
    padding-right: 4em;
}
.main-title {
    margin: 0;
}
.subtitle{
    margin: 0;
    font-weight: 250;
    color: #868282;
}

h5{
    color: #aaa;
    border-bottom:  1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
    width: 600px;
    margin: 0.6em;
}
.profile{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50px;
    float: right;

    margin-left: 1em;
}
.post-tag{
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #ffffff;
    background: #7b61eb;
    font-size: 80%;
    text-decoration: none;
}
.css{
    background: #16be48;
}
.js{
    background: #ee1241;
}
.post-author{
    text-decoration: none;
    color: #3d92c9;
}

.post{
    padding-bottom: 2em;
}
.post-title{
    font-size: 2em;
    color: #222222;
    margin-bottom: 0.2em;
}
.post-content{
    font-family: Georgia, Times, serif;
    color: #444444;
    line-height: 1.5em;
}
